<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Description" data-toc-modified-id="Description-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Description</a></span></li><li><span><a href="#Imports" data-toc-modified-id="Imports-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Imports</a></span></li><li><span><a href="#Load-the-data" data-toc-modified-id="Load-the-data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Load the data</a></span></li><li><span><a href="#Reduce-Memory-size" data-toc-modified-id="Reduce-Memory-size-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Reduce Memory size</a></span></li><li><span><a href="#Missing-values-and-Duplicated-ID" data-toc-modified-id="Missing-values-and-Duplicated-ID-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Missing values and Duplicated ID</a></span></li><li><span><a href="#Features" data-toc-modified-id="Features-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Features</a></span><ul class="toc-item"><li><span><a href="#Vendor-id" data-toc-modified-id="Vendor-id-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Vendor id</a></span></li></ul></li><li><span><a href="#Latutudes-and-Longitudes" data-toc-modified-id="Latutudes-and-Longitudes-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Latutudes and Longitudes</a></span></li></ul></div>

# Description

The dataset is based on the [2016 NYC Yellow Cab trip record](https://cloud.google.com/bigquery/public-data/nyc-tlc-trips) and data was originally published by the [NYC Taxi and Limousine Commission (TLC)](http://www.nyc.gov/html/tlc/html/about/trip_record_data.shtml). 

**Features**

- `id` - a unique identifier for each trip
- `vendor_id` - a code indicating the provider associated with the trip record
- `pickup_datetime` - date and time when the meter was engaged
- `dropoff_datetime` - date and time when the meter was disengaged
- `passenger_count` - the number of passengers in the vehicle (driver entered value)
- `pickup_longitude` - the longitude where the meter was engaged
- `pickup_latitude` - the latitude where the meter was engaged
- `dropoff_longitude` - the longitude where the meter was disengaged
- `dropoff_latitude` - the latitude where the meter was disengaged
- `store_and_fwd_flag` - This flag indicates whether the trip record was held in vehicle memory before sending to the vendor because the vehicle did not have a connection to the server - Y=store and forward; N=not a store and forward trip
- `trip_duration` - duration of the trip in seconds

# Imports

In [2]:
import numpy as np
import pandas as pd
import os,sys,time

# visualization
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# settings
SEED = 100
pd.set_option('max_columns',100)
pd.set_option('plotting.backend','matplotlib') # matplotlib, bokeh, altair, plotly

%matplotlib inline
%load_ext watermark
%watermark -iv

numpy   1.19.5
seaborn 0.11.0
pandas  1.1.4

In [3]:
# my local library
import sys
sys.path.append("/Users/poudel/Dropbox/a00_Bhishan_Modules/")
sys.path.append("/Users/poudel/Dropbox/a00_Bhishan_Modules/bhishan")
from bhishan import bp

# Load the data

In [4]:
!ls ../data
!du -sh ../data/train.zip

train.zip
 63M	../data/train.zip

In [5]:
df = pd.read_csv('../data/train.zip',compression='zip',
                 infer_datetime_format=True,parse_dates=[2,3],
                engine='c')
print(f"rows = {df.shape[0]:,d} columns = {df.shape[1]:,d}")
df.head(2).append(df.tail(2))

rows = 1,458,644 columns = 11

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,N,373
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,N,198

In [6]:
df.bp.describe()

# Reduce Memory size

In [7]:
df.memory_usage().sum() / 2**20 # MB

122.41439819335938

In [8]:
df.columns

Index(['id', 'vendor_id', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'store_and_fwd_flag',
       'trip_duration'],
      dtype='object')

In [9]:
df.apply(pd.Series.nunique).loc[lambda x: x<20]

vendor_id              2
passenger_count       10
store_and_fwd_flag     2
dtype: int64

In [10]:
cols_cat = df.apply(pd.Series.nunique).loc[lambda x: x<20].index.values
cols_cat

array(['vendor_id', 'passenger_count', 'store_and_fwd_flag'], dtype=object)

In [11]:
for c in cols_cat:
    df[c] = df[c].astype('category')

In [12]:
# integers
cols_int = df.select_dtypes('integer').columns.tolist()
cols_int

['trip_duration']

In [13]:
for c in cols_int:
    df[c] = df[c].astype(np.int32)

In [14]:
# floats
cols_float = df.select_dtypes('float').columns.tolist()
cols_float

['pickup_longitude',
 'pickup_latitude',
 'dropoff_longitude',
 'dropoff_latitude']

In [15]:
for c in cols_float:
    df[c] = df[c].astype('float32')

In [16]:
df.memory_usage().sum() / 2**30 # MB

0.06384867057204247

# Missing values and Duplicated ID

In [17]:
df.isna().sum().sum()

0

In [18]:
df.head(2)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663

In [19]:
# check for duplicates
df[df.duplicated('id')]

Empty DataFrame
Columns: [id, vendor_id, pickup_datetime, dropoff_datetime, passenger_count, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, store_and_fwd_flag, trip_duration]
Index: []

# Features

## Vendor id

In [20]:
df['vendor_id'].unique()

[2, 1]
Categories (2, int64): [2, 1]

# Latutudes and Longitudes

In [21]:
df[['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude']].agg(['min','max'])

     pickup_longitude  pickup_latitude  dropoff_longitude  dropoff_latitude
min       -121.933342        34.359695        -121.933304         32.181141
max        -61.335529        51.881084         -61.335529         43.921028